<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="${#request.getContextPath() + '/'}"/>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>购物车页面</title>
    <link rel="stylesheet" href="css/base.css" type="text/css" />
    <link rel="stylesheet" href="css/shop_common.css" type="text/css" />
    <link rel="stylesheet" href="css/shop_header.css" type="text/css" />
    <link rel="stylesheet" href="css/shop_gouwuche.css" type="text/css" />
    <script type="text/javascript" src="js/jquery.js" ></script>
    <script type="text/javascript" src="js/topNav.js" ></script>
    <script type="text/javascript" src="js/jquery.goodnums.js" ></script>
    <script type="text/javascript" src="js/shop_gouwuche.js" ></script>
</head>
<body>

<!--<div th:replace="header :: myheader"></div>-->

<!-- 购物车 Body -->
<div class="shop_gwc_bd clearfix">
    <!-- 在具体实现的时候，根据情况选择其中一种情况 -->
    <!-- 购物车为空 -->
    <div th:if="${carts == null || #lists.size(carts) == 0}" class="empty_cart mb10">
        <div class="message">
            <p>购物车内暂时没有商品，您可以<a href="index.html">去首页</a>挑选喜欢的商品</p>
        </div>
    </div>
    <!-- 购物车为空 end-->

    <!-- 购物车有商品 -->
    <div th:unless="${carts == null || #lists.size(carts) == 0}" style="width: 1000px" class="shop_gwc_bd_contents clearfix">
        <!-- 购物流程导航 -->
        <div class="shop_gwc_bd_contents_lc clearfix">
            <ul>
                <li class="step_a hover_a">确认购物清单</li>
                <li class="step_b">确认收货人资料及送货方式</li>
                <li class="step_c">购买完成</li>
            </ul>
        </div>
        <!-- 购物流程导航 End -->

        <script>
            function checkall(flag){
                $("input[type='checkbox'][name='gid']").attr("checked", flag);
            }

            //计算总价
            function allprice(){
                var allprice = 0;
                //获取所有被选中的复选框
                $("input[type='checkbox'][name='gid']:checked").each(function(){
                    var xiaoji = $("#xiaoji_" + $(this).val());
                    var xiaojiNumber = xiaoji.attr("alt");//获得当前商品的小计值
                    allprice += (parseFloat(xiaojiNumber) * 100);
                });

                //将总价放入
                $("#good_zongjia").html(allprice/100);
            }
        </script>

        <!-- 购物车列表 -->
        <form action="/orders/toOrdersEdit" method="post">
        <table>
            <thead>
            <tr>
                <th>全选<input type="checkbox" onclick="checkall(this.checked);"/></th>
                <th colspan="2"><span>商品</span></th>
                <th><span>单价(元)</span></th>
                <th><span>数量</span></th>
                <th><span>小计</span></th>
                <!--<th><span>操作</span></th>-->
            </tr>
            </thead>
            <tbody>


            <tr th:each = "cart : ${carts}">
                <td><input name="gid" type="checkbox" onclick="allprice();" th:value="${cart.goods.id}"/></td>
                <td class="gwc_list_pic"><a href=""><img th:src="${cart.goods.fmurl}" style="width: 100px; height: 80px" src="images/4_7b5239c3f153ae4b67ff760f54408a5b.jpg_tiny.jpg" /></a></td>
                <td class="gwc_list_title"><a href="" th:text="${cart.goods.subject}">双层花架简约韩式田园欧式地中海风格宜家纯白架现代花盆架电话架 </a></td>
                <td class="gwc_list_danjia"><span><strong id="danjia_001" th:text="${#numbers.formatCurrency(cart.goods.price)}">2550.00</strong></span></td>
                <td class="gwc_list_shuliang"><span>
                    <a class="good_num_jian this_good_nums" did="danjia_001" xid="xiaoji_001" ty="-" valId="goods_001" th:valId="|goods_${cart.goods.id}|" href="javascript:void(0);">-</a>
                    <input type="text" value="1" id="goods_001" th:id="|goods_${cart.goods.id}|" class="good_nums" th:value="${cart.number}" />
                    <a href="javascript:void(0);" did="danjia_001" xid="xiaoji_001" ty="+" class="good_num_jia this_good_nums" th:valId="|goods_${cart.goods.id}|" valId="goods_001">+</a></span></td>
                <td class="gwc_list_xiaoji">
                    <span>
                        <strong th:id="|xiaoji_${cart.goods.id}|" th:alt="${cart.cartPrice}" class="good_xiaojis" th:text="${#numbers.formatCurrency(cart.cartPrice)}">2550.00</strong>
                    </span>
                </td>
                <!--<td class="gwc_list_caozuo"><a href="">收藏</a><a href="javascript:void(0);" class="shop_good_delete">删除</a></td>
            --></tr>


            </tbody>
            <tfoot>
            <tr>
                <td colspan="6">
                    <div class="gwc_foot_zongjia">商品总价(不含运费)<span>￥<strong id="good_zongjia">00.00</strong></span></div>
                    <div class="clear"></div>
                    <div class="gwc_foot_links">
                        <a href="" class="go">继续购物</a>
                        <button type="submit" class="op">确认并填写订单</button>
                    </div>
                </td>
            </tr>
            </tfoot>
        </table>
        </form>
        <!-- 购物车列表 End -->
    </div>
    <!-- 购物车有商品 end -->

</div>
<!-- 购物车 Body End -->

<!-- Footer - wll - 2013/3/24 -->
<div class="clear"></div>
<div class="shop_footer">
    <div class="shop_footer_link">
        <p>
            <a href="">首页</a>|
            <a href="">招聘英才</a>|
            <a href="">广告合作</a>|
            <a href="">关于ShopCZ</a>|
            <a href="">关于我们</a>
        </p>
    </div>
    <div class="shop_footer_copy">
        <p>Copyright 2004-2013 itcast Inc.,All rights reserved.</p>
    </div>
</div>
<!-- Footer End -->

</body>
</html>