<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="${#request.getContextPath() + '/'}"/>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/jquery.js"></script>
    <script>

        function sendmail(ele){
            //获得账号
            var username = $("#username").val();

            //倒计时
            $(ele).attr('disabled', 'disabled');//禁用当前按钮
            djs(ele);

            $.ajax({
                url: "/forget/sendmail",
                data: {"username": username},
                success: function(data){
                    if(data.code == "200"){
                        //发送成功
                        // alert("发送成功！");
                        var showmail = data.data.showmail;
                        var tomail = data.data.tomail;

                        $("#msgspan").html("邮件已经发送到您的" + showmail + "邮箱, <a href='http://" + tomail + "'>去邮箱</a>");
                    } else {
                        alert(data.msg);
                    }
                },
                dataType:"json"
            });
        }

        //按钮倒计时
        var time = 10;
        function djs(ele){

            if(time == 0){
                //开放按钮
                $(ele).removeAttr("disabled");
                $(ele).html("找回密码");
                time=10;
                return;
            }

            $(ele).html("邮件已经发送，请等候(" + time + ")");

            setTimeout(function(){
                time--;
                djs(ele);
            }, 1000);
        }

    </script>
</head>
<body>
    <h1>忘记密码！</h1>
    账号：<input id="username" name="username" type="text"/><span id="msgspan"></span><br/>
    <button type="button" onclick="sendmail(this);">找回密码</button>
</body>
</html>